@page
@model JeugdLinkApp.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2> Register</h2>

   <form method="post">
       <div class="form-group">
           <label for="Firstname">Firstname</label>
           <input type="text" id="Firstname" name="newuser.Firstname" class="form-control" required/>
       </div>
       <div class="form-group">
           <label for="Lastname">Lastname</label>
           <input type="text" id="Lastname" name="newuser.Lastname" class="form-control" required/>
       </div>
       
       <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" id="Email" name="newuser.Email" class="form-control" required />
       </div> 
       
       <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="newuser.Password" class="form-control" required />
       </div> 

       <div class="form-group">
        <label for="DateOfBirth">DateOfBirth</label>
        <input type="date" id="DateOfBirth" name="newuser.DateOfBirth" class="form-control" required />
       </div>
       <div>
           <button type="submit" class=" btn btn-primary">Register</button>
       </div>
   </form> >
